= render 'groups/content-left'

.content-right
  .group
    %p.group__name
      = @group.name
    %p.group__member
      MEMBER:
      = @users.pluck(:name).join(",")

    = link_to edit_group_path(@group) do
      %p.group__btn Edit

  = render 'chat'

  .bottom-content
    .submit
      = form_for @message do |f|
        %p.submit__content type a message
        = f.text_field :name, class: 'chat-group-form__input', id: 'chat_group_name', placeholder: 'グループ名を入力してください'
      %i.fa.fa-file-image-o
      %p.submit__btn Send
