= render 'groups/content-left'

.content-right
  .group
    %p.group__name
      = @group.name
    %p.group__member
      MEMBER:
      = @users.pluck(:name).join(",")

    = link_to edit_group_path(@group) do
      %p.group__btn Edit

  .chat-wrapper
    = render partial: 'chat', collection: @messages, as: :message

  .bottom-content
    .submit
    = form_for [@group, @message], html: { class: "form js-message" } do |f|
      = f.text_field :body, class: "submit__content js-form__text-field", placeholder: 'type a message'
      %label.chat-footer__file
        = f.file_field :image
        %i.fa.fa-file-image-o
      = f.submit "Send", class: "submit__btn", name: "Commit"
