.chat-group-form

  %h1 新規チャットグループ
  = form_for @group, html: { class: "form js-group" }  do |f|
    .chat-group-form__field.clearfix
      .chat-group-form__field--left
        .chat-group-form__label
          = f.label :name, 'グループ名'
      .chat-group-form__field--right
        = f.text_field :name, class: 'chat-group-form__input', id: 'chat_group_name', placeholder: 'グループ名を入力してください'

    .chat-group-form__field.clearfix
      .chat-group-form__field--left
        .chat-group-form__label
          = f.label :users, 'チャットメンバーの追加'
      .chat-group-form__field--right
        %input#user-search-field{ class: "chat-group-form__input",placeholder: "検索するユーザー名を入力してください", autocomplete: "off" }
        #user-search-result

    .chat-group-form__field.clearfix
      .chat-group-form__field--left
        %label.chat-group-form__label{:for => "chat_group_チャットメンバー"} チャットメンバー
      .chat-group-form__field--right
        #chat-group-users
          .chat-group-user.clearfix
            %p.chat-group-user__name
            = current_user.name

    .chat-group-form__field.clearfix
      .chat-group-form__field--left
      .chat-group-form__field--right
        = f.submit class: "chat-group-form__action-btn", type: "submit", value: "Save"
