!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title ChatSpace
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
  .flash
    .flash__log-in
      - if notice
        %p.flash__log-in--true
          = flash[:notice]
      - if alert
        %p.flash__log-in--false
          = flash[:alert]
  = yield
